[user]
    name = Bill Israel
    email = bill.israel@gmail.com

[github]
    user = epochblue
    token = <API TOKEN>

[color]
    diff = auto

[alias]
    co = checkout
    df = diff
    ds = diff --staged
    graph = graph = log --graph --pretty=format":%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset"
    ls = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short
    st = status -sb
    undo = reset --soft HEAD^

[apply]
    whitespace = nowarn
